<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListTypeSignalement</servlet-name>
        <servlet-class>controller.ListTypeSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutTypeSignalement</servlet-name>
        <servlet-class>controller.AjoutTypeSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifTypeSignalement</servlet-name>
        <servlet-class>controller.ModifTypeSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLoginRegion</servlet-name>
        <servlet-class>controller.ListLoginRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRegion</servlet-name>
        <servlet-class>controller.LoginRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutLoginRegion</servlet-name>
        <servlet-class>controller.AjoutLoginRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLoginRegion</servlet-name>
        <servlet-class>controller.DeleteLoginRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifLoginRegion</servlet-name>
        <servlet-class>controller.ModifLoginRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSignalement</servlet-name>
        <servlet-class>controller.ListSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailSignalement</servlet-name>
        <servlet-class>controller.DetailSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageSignalement</servlet-name>
        <servlet-class>controller.ImageSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationSignalement</servlet-name>
        <servlet-class>controller.ValidationSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionSignalement</servlet-name>
        <servlet-class>controller.RegionSignalement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttribuerRegion</servlet-name>
        <servlet-class>controller.AttribuerRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationLogin</servlet-name>
        <servlet-class>controller.VerificationLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>controller.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationInscription</servlet-name>
        <servlet-class>controller.VerificationInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Minicarte</servlet-name>
        <servlet-class>controller.Minicarte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTypeSignalement</servlet-name>
        <url-pattern>/ListTypeSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutTypeSignalement</servlet-name>
        <url-pattern>/AjoutTypeSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifTypeSignalement</servlet-name>
        <url-pattern>/ModifTypeSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRegion</servlet-name>
        <url-pattern>/LoginRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLoginRegion</servlet-name>
        <url-pattern>/ListLoginRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutLoginRegion</servlet-name>
        <url-pattern>/AjoutLoginRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLoginRegion</servlet-name>
        <url-pattern>/DeleteLoginRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifLoginRegion</servlet-name>
        <url-pattern>/ModifLoginRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSignalement</servlet-name>
        <url-pattern>/ListSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailSignalement</servlet-name>
        <url-pattern>/DetailSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageSignalement</servlet-name>
        <url-pattern>/ImageSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationSignalement</servlet-name>
        <url-pattern>/ValidationSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionSignalement</servlet-name>
        <url-pattern>/RegionSignalement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttribuerRegion</servlet-name>
        <url-pattern>/AttribuerRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationLogin</servlet-name>
        <url-pattern>/VerificationLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationInscription</servlet-name>
        <url-pattern>/VerificationInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Minicarte</servlet-name>
        <url-pattern>/Minicarte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
